# Database
DB_PASSWORD="generate-strong-password-here"
POSTGRES_DB="arvesta_db"
POSTGRES_USER="postgres"

# Auth
AUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="https://yourdomain.com"

# Optional: TinyPNG
# TINYPNG_API_KEY=""
# UPLOAD_ENABLE_TINYPNG="false"
